@font-face {
    font-family: 'TTLakes';
    src: url('TTLakes/TTLakes-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'TTLakes';
    src: url('TTLakes/TTLakes-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.brands-section{
    background-color: #F8F8F8;
    padding: 0 20px;
    border-top: 1px solid #D9FFF5;
}

.arrow {
    width: 40px;
    height: 40px;
}

.mySwiper {
    position: relative;
    padding-bottom: 40px;
}

.swiper-title {
    font-family: 'TTLakes', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #7E7E82;
    text-transform: uppercase;
    background: linear-gradient(0.25turn, #F8F8F8, #FFFFFF);
    padding: 20px 0;
    margin: 0;
}

.swiper-slide {
    height: auto;
    margin-top: 20px;
}
.swiper-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 240px;
    height: 72px;
    padding: 1px 10px;
    background-color: #FFFFFF;
    border-radius: 6px;
    border: 1px solid #EAEAEA;
    text-decoration: none;
    box-sizing: border-box;
}
.swiper-card-logo {
    align-self: center;
    border: none;
    background: none;
}
.arrow {
    width: 40px;
    height: 40px;
}
.swiper-pagination {
    display: block;
}

.expand-all {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    background: none;
    border: none;
    font-family: 'TTLakes', sans-serif;
    font-weight: 500;
    padding: 8px 0;
    margin-top: 8px;
}
.show-all img {
    width: 24px;
    height: 24px;
}

@media (max-width: 320px) {
    .swiper-card {
        width: 240px;
        height: 72px;
    }
    .swiper-pagination {
        display: block !important;
    }
    #showAll, #hideAll {
        display: none !important;
    }
}

@media (max-width: 768px) {

    .swiper-pagination {
        display: none ;
    }
    .swiper-title {
        font-size: 16px;
    }
    #showAll {
    display: inline-flex;
    }
}


@media (max-width: 1120px) {
    .swiper-pagination {
        display: none ;
    }
    #showAll {
    display: inline-flex;
    }
}